Vulkan/Lib/shaderc_combined.lib filter=lfs diff=lfs merge=lfs -text
Vulkan/Lib/SPIRV-Tools-optd.lib filter=lfs diff=lfs merge=lfs -text
Vulkan/Lib/SPIRV-Tools-opt.lib filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
